<openerp>
    <data>

        <record model="ir.actions.act_window" id="action_isp_contract_service_list">
			<field name="name">Contratos ISP</field>
			<field name="res_model">account.analytic.account</field>
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
            <field name="domain">[('type', '=', 'contract'), ('use_contract_services', '=', True)]</field>
            <field name="context">{'type': 'contract', 'use_contract_services': True}</field>
			<!-- <field name="view_ids" eval="[(6, 0, [ref('view_isp_contract_service_form')])]" /> -->
		</record>

		
		<!-- top level menu: no parent -->
		<menuitem id="menu_isp_root" name="ISP" sequence="1" />
		
		<!-- A first level in the left side menu is needed before using action=attribute -->
		<menuitem id="menu_isp_main" name="ISP" parent="menu_isp_root" sequence="10" />
		
		<menuitem id="menu_isp_customer" name="Customers" parent="menu_isp_main" action="action_res_partner_list" sequence="10" />


		<menuitem id="menu_isp_contract" name="Contracts" parent="menu_isp_main" action="action_isp_contract_service_list" sequence="10" />


		<menuitem id="menu_isp_product" name="Productos" parent="menu_isp_main" action="action_isp_product_product_list" sequence="20" />
		
		<menuitem id="menu_isp_servicios" name="Servicios" parent="menu_isp_main" action="action_isp_contract_service_list" sequence="30" />
		<menuitem id="menu_isp_account_analytic_line" name="account.analytic.line" parent="menu_isp_main" action="action_isp_aal" sequence="30" />
		
		

		
		
    </data>
</openerp>